html {
	height: 100%;
}

body {
	height: 100%;
	width:100%;
	color: #222;
	 font-family: 'Mulish'; 
	background-color: #EDF6FA;

}
 
.mainContainer { 
    background-color: #EDF6FA;
   	height:90%;
      background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
 margin-bottom: 5%;
}

.codeContainer { 
    background-color: #fff;
      background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
 margin-bottom: 5%;
padding-bottom: 2%;
box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}


.btn-circle.btn-md { 
        
         
            border-radius: 1px;
         
              box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            text-align: center; 
            margin: 3px;
        } 
        
.btn-circle.btn-md:hover { 
        
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            text-align: center; 
         
          
        } 
.btn-circle.btn-md:focus { 
        
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

            outline: none;
        } 

.btn.btn-circle.btn-md.active  {
    border: 2px solid #fafafa;
box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}



.btn {
    border: 0px;
}
  
h3 { 
    font-weight: 1000;
    font-size : 30px;

}

.configControlArea {
    background-color: #EDF6FA;
    text-align: center;
}

.navContainer {
    background-color: #fff;
    border-bottom: 1px solid #eee;
      text-align: center;

}

.ViewerContainer {
    background-color: #fff;


}

.textArea {
    padding-top : 7.5%;
    border-bottom: 1px solid #ddd;
}

.explanationArea {
    padding: 5%;
    padding-bottom: 2%;
        
}

.explanationArea p{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.explanationArea li{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.explanationArea h3{
    font-size: 23px;
    font-weight: 700;
}


.codeArea {
    padding: 1%;
    background-color: #AEC6CF;
    color: black;
}

.codeAreaMain {
    margin: 2%;
    font-weight: 800;
    background-color: #AEC6CF;
    color: black;
}

.mainCodeArea {
    margin: 5%;
    background-color: #fff;
   box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    padding: 5%;
}

.cssCode{
    text-align: left;
    width: 30%;
        margin: auto;
}

.jsCode{
    text-align: left;
    width: 50%;
   margin: auto;
}

.codeArea code {
    font-weight: 900;
    color: #444;

}
.form-select {
    border: 1px solid #ddd;
    border-radius: 1px;
}

.charpstarARViewer {
   z-index: 10;
    position: absolute;
    top : 2%;
     width  : 75px; 
    right: 5%;
    cursor: pointer;
}

.codeReveal {
    font-weight: 500;
    color: rgb(255, 255, 255);
     font-size: 16px;
    border-radius: 0px;
    padding: 0.5rem 1rem;
        background: #059dff;
    width: 90%;
    border: none; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.bootstrap-select .btn:focus {
    outline: none !important;
}


.selectionNumber {
    background: #fff;
    outline: 1px solid #000;
    border-bottom: 1px solid #000 !important;
    padding: 5px;
}

p {
    font-size : 12px;
    font-weight: 700;
}
.row { 
     height:100%;
    margin-left: 3%;
    margin-right: 3%;
  
}

.row>* 
{
      padding-right: 0px;
    padding-left: 0px;
}

.container-fluid { 
 
padding-right: 4vw;    

}
 
.container {

	margin: 0 auto;
}

.img-container {
	margin: 0 auto;
	padding: 0;
	cursor: ew-resize;
}

.img360 {
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 0;
}
 
h5 {
	font-size: 20px;
}

h6 {
	font-size: 13px;
}
 

.title {
	opacity: 0;
}

.p {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}
 
.navbar {
	transition: .3s
}

.navbar-brand {
	font-size: 40px
}

.navbar .navbar-brand,
.navbar .navbar-text {
	color: green;
}

.navbar-brand span {
	font-size: 12px
}

.navbar ul.nav-links li {
	padding: 5px 30px;
	font-family: Nunito;
}

.nav-icon {
	font-size: 20px
}

span.nobreak {
	white-space: nowrap;
}

 
  

*:focus {
	outline: 0;
}
 

@media screen and (max-width: 996px) {
}

@media screen and (min-width: 997px) {
	 
 

#controls {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
} 
}

@media(min-width:1500px) {
	.row {
 
	}
}

@media(max-height:600px),
(max-width:768px) {
 
	
	.configControlArea {

    padding-left: 0px;
    text-align: center;
 
}

.mainContainer { 
    background-image: none;
    background-color : #fff;
    margin-bottom: 25%;
}
    
    .textArea {
        text-align: center;
        
    }   
    
    .controlArea {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media(max-width:1300px) {
	 
}

@media(max-width:1200px) {
	a.navbar-brand {
		font-size: 26px !important;
	}
}

@media(max-width:992px) {
	 
    .container-fluid { 
padding-right: 0vw; 
padding-left: 0vw;
}
    
    .row { 
    padding: 0%;
    margin-left: 0%;
    margin-right: 0%;
  
}
    
.cssCode {
    text-align: left;
    width: auto;
    margin: auto;
}    
    
 .charpstarARViewer {
    width: 55px;
}   

}

@media(max-width:768px) {
 
}

@media(max-width:576px) {
 
}



         .model-viewer-wrapper {
         padding-top: 60%;
     
         }
         model-viewer
         {
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         height: calc(100% - 8px);
         --poster-color: transparent;
         }
         model-viewer#reveal {
         --poster-color: transparent;
         }

     